/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-title-color: #ffc2e6;
  --text-color: #353430;
  --button-color: #353430;
  --decor-color: #353430;
  --accent-color: #ff8dcb;
  --title-accent-color: #353430;
  --subtitle-text-color: #353430;
  --nav-hover-color: rgba(50, 49, 45, 0.4);
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  background-image: var(--bg-image);
}

.theme-light .header-decor {
  display: none;
}

.theme-light .header__theme-menu-button {
  color: var(--button-color, #353430);
}

.theme-light .header__theme-menu-button:hover {
  outline: 1px solid var(--nav-hover-color);
}

.theme-light .header__theme-menu-button_active {
  outline: 1px solid var(--button-color, #353430);
}

.theme-light .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color, #353430);
}

.theme-light .subtitle {
  color: var(--subtitle-text-color, #353430);
}

@media (prefers-color-scheme: light) {

  :root {
    /* Дублируем переменные светлой темы */
    --main-title-color: #ffc2e6;
    --text-color: #353430;
    --button-color: #353430;
    --decor-color: #353430;
    --accent-color: #ff8dcb;
    --nav-hover-color: rgba(50, 49, 45, 0.4);
    --title-accent-color: #353430;
    --subtitle-text-color: #353430;
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #FFF1F7;
  }

  .theme-auto .header-decor {
    display: none;
  }
}
