/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-title-color: #db00ff;
  --title-text-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --text-font-size: 18px;
  --bg-image-dark-theme: url(../images/cover-image-dark.png);
  --text-font-family: 'IBM Plex mono';
  --text-line-height: 1.3em;
}
